---
layout: compress
---
<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"><!--<![endif]-->
<script>
    function PlaySound() {
        var snd = new Audio("{{ site.url }}/assets/sound/pronunciation.mp3");
        snd.play();
    }
</script>
<head>
    {% include head.html %}
    <style type="text/css">
    @import url(https://fonts.googleapis.com/css?family=Karla);

body {
  font-family: "Karla", sans-serif;
   text-align: center;
 }

@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

.cursor {
    animation: blink 0.7s infinite;
}
</style>
</head>
<body>
    {% include nav.html %}
    <!-- Header -->
    <header class="header flex" role="banner">
        <div class="container animated fadeIn">
            <div class="row">
                    <img src="{{ site.logo }}" class="img-circle animated">
                    <h3 class="title">
                        <div class="typing-animation">
                          <span id="quote"></span>
                        </div>
                    </h3>
                    <p style="font-style: italic;font-size: 12px">Here's how it's pronounced: <button onclick="PlaySound()" style="background-color: #000000;border: none;color: white;padding: 2px 2px;text-align: center;text-decoration: none;display: inline-block;font-size: 12px;"><i class="fa fa-volume-up"></i></button></p>
                    <hr class="hr-line">
                    <h3 class="title">
                    	<p style="font-size:1rem;font-weight:300">{{ site.bio }}</p>
                    </h3>
                    <hr class="hr-line">
                    <h3 class="title">
                    <a class="btn zoombtn" href="{{ site.url }}/about">
                    About
                    </a>
                    <a class="btn zoombtn" href="{{ site.url }}/posts">
                    Blog
                    </a>
                    <a class="btn zoombtn" href="{{ site.url }}/projects">
                    Projects
                    </a>
                    <a class="btn zoombtn" href="{{ site.url }}/akshit_cv.pdf">
                    Resume
                    </a>
                    <a class="btn zoombtn" href="{{ site.url }}/timeline">
                    Timeline
                    </a>
                    <a class="btn zoombtn" href="{{ site.url }}/photobooks">
                    Photos
                    </a>
                    <a class="btn zoombtn" href="{{ site.url }}/hobbies">
                    Hobbies <!--personal study, get motivated, lists, quotes and others!-->
                    </a>
                 </h3>
                  {% include social-links.html %}
            </div>
            <center><p style="color: black">© Akshit Arora 2017 with help from <a href="https://jekyllrb.com/">Jekyll</a>, <a href="https://github.com/TaylanTatli/Moon">Moon theme</a>& <a href="http://www.mattboldt.com/demos/typed-js/">TypedJS</a>.</p></center>
        </div>
    </header>
    {% include scripts.html %}
    <script type="text/javascript">
        $(function(){
          $("#quote").typed({
            strings: ["Hi! I am Akshit Arora<br>नमस्ते । मेरा नाम अक्षित अरोड़ा है ।<br>ਸਤਿ ਸ਼੍ਰੀ ਅਕਾਲ । ਮੇਰਾ ਨਾਂ ਅਕ੍ਸ਼ਿਤ ਅਰੋੜਾ ਹੈ ।"],
            typeSpeed: 50,
            backSpeed: 1,
            loop: false,
            shuffle: true
          });
        });
    </script>
</body>
</html>